html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


    /* ----------------Begin the Styles Sheet ----------- */

@media screen and (min-width: 721px){



*{
}

body{
    background: center/contain url('/Butters/Assets/Butters-print-background.jpg')  black;
    width: 1000px;
    max-width: 100%;
    height: auto;
    margin: auto;
}

header{
    width: 100%;
    height: 60px;
    font-size: 1.3em;
    color: #DDC8B5;
    background-color: #48A594;
    box-shadow: 3px 3px 8px #75FFDF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
header nav{
    float: right;
}
header nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 6% 50% 0 0 ;
}
header nav ul li{
    margin: 12%;
    text-shadow: 2px 2px 4px #597263;
}
#middleWrap{
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    background-color: black;
    background: center/cover url('/Butters/Assets/Butters-Background.png') no-repeat;
    width: 100%;
    height: 400px;
}

#middleWrap{
    display: flex;
    flex-direction:row-reverse;
    justify-content:flex-end;
    background-color: black;
    background: center/cover url('/Butters/Assets/Butters-Background.png') no-repeat;
    width: 100%;
    height: 400px;
}
#middleText{ 
    color: #48A594;
    text-shadow: 3px 3px 4px #55E3C3;
    text-align: center;
    padding-left: 7%;
}
#middleText h1{
    font-size: 6.5em;
    text-shadow: 3px 3px 4px #DDC8B5;
    font-family: 'Beau Rivage', cursive;
}
#middleText h3{
    font-size: 2em;
}

#portrait{
    background-color: #48A594;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
#portrait h3{
    font-size: 5em;
    font-weight: 400;
    margin-bottom: 5%;
    font-family: 'Square Peg', cursive;    }
#portrait h4{
    font-size: 2em;
    text-align: right;

}
#portraitImg img{
    padding: 15% 1px 15% 15%;
    width: 100%;
    height: auto;
}
#portraitText{
    margin: 10%;
}

#roles{
    background-color: rgb(221, 200, 181, .8);
}
#roles h2{
    color: #55E3C3 ;
    font-size: 2em;
    font-weight:600;
    text-align: center;
    padding: 5% 0;
    text-shadow: 3px 3px 6px #48A594;
}
.roles{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.roles:nth-last-of-type(even){
    flex-direction: row-reverse;
}
.text{
    width: 50%;
    height: auto;
}
.pic{
    width: 50%;
    height: auto;
}
.pic img{
    width: 100%;
    height: auto;
}
#chaos{
    color: white;
    background: center/cover url("/Butters/Assets/Professor-Chaos\ background.jpg");
}
#paladin{
    background: center/cover url("/Butters/Assets/Paladin-butters-the-merciful\ background.jpg");
}
#mantequilla{
    background: center/cover url('/Butters/Assets/Butters-mantequilla-Background.jpg    ');
}
#marjorine{
    background: center/cover url('/Butters/Assets/Marjorine-Background.jpg');
}

#southpark{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
#spText{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    width: 100%;
    height: auto;
    margin: auto;
}
#spText h3{
    color: #75FFDF;
    font-size: 2em;
    text-shadow: 
    -3px -3px 2px #DDC8B5, 
    3px 3px 2px #48A594;
}
#spPic img{
    margin: auto;
    width: 100%;
    height: auto;
}

footer{
    color: #DDC8B5;
    background-color: #597263;
    
}
}

@media screen and (max-width: 720px) {
    body{
        width: 720px;
        max-width: 100%;
        height: auto;
    }

    header{
        max-width: 100%;
        font-size: 1.3em;
        color: #DDC8B5;
        background-color: #48A594;
        height: 60px;
        box-shadow: 3px 3px 8px #75FFDF;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    header nav{        
        float: right;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 6% 50% 0 0;
    }
    header nav ul li{
        margin: 12%;
        text-shadow: 2px 2px 4px black;
    }

    /* --- Leapold Butters Stotch Section --- */

    #middleWrap{
        display: flex;
        flex-direction:row-reverse;
        justify-content:flex-end;
        background-color: black;
        background: center/cover url('/Butters/Assets/Butters-Background.png') no-repeat;
        width: 100%;
        height: 400px;
    }
    #middleText{ 
        color: #48A594;
        text-shadow: 3px 3px 4px #55E3C3;
        padding-top: 10%;
        text-align: left;
    }
    #middleText h1{
        font-size: 4.3em;
        text-shadow: 3px 3px 4px #DDC8B5;
        font-family: 'Beau Rivage', cursive;
    }
    #middleText h3{
        font-size: 1.4em;
    }

    #portrait{
        background-color: #48A594;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    #portrait h3{
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 5%;
        font-family: 'Square Peg', cursive;    }
    #portrait h4{
        font-size: .8em;
        text-align: right;

    }
    #portraitImg img{
        padding: 15% 1px 1px 15%;
        width: 75%;
        height: auto;
    }
    #portraitText{
        margin: 10%;
    }

    #roles{
        background-color: #DDC8B5;
    }
    #roles h2{
        color: #48A594 ;
        font-size: 2em;
        font-weight:600;
        text-align: center;
        padding: 5% 0;
        text-shadow: 3px 3px 6px #597263;
    }
    .roles{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .roles:nth-last-of-type(even){
        flex-direction: row-reverse;
    }
    .text{
        width: 50%;
        height: auto;
    }
    .pic{
        width: 50%;
        height: auto;
    }
    .pic img{
        width: 100%;
        height: auto;
    }
    #chaos{
        color: white;
        background: center/cover url("/Butters/Assets/Professor-Chaos\ background.jpg");
    }
    #paladin{
        background: center/cover url("/Butters/Assets/Paladin-butters-the-merciful\ background.jpg");
    }
    #mantequilla{
        background: center/cover url('/Butters/Assets/Butters-mantequilla-Background.jpg    ');
    }
    #marjorine{
        background: center/cover url('/Butters/Assets/Marjorine-Background.jpg');
    }

    #southpark{
        background-color: black;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    #spText{
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        width: 100%;
        height: auto;
        margin: auto;
    }
    #spText h3{
        color: #75FFDF;
        font-size: 2em;
        text-shadow: 
        -3px -3px 2px #DDC8B5, 
        3px 3px 2px #48A594;
    }
    #spPic img{
        margin: auto;
        width: 100%;
        height: auto;
    }

    footer{
        color: #DDC8B5;
        background-color: #597263;
        
    }
}

colors{
    color: #DDC8B5;
    color: #75FFDF;
    color: #55E3C3;
    color: #48A594;
    color: #597263;
}